*{
    box-sizing: border-box;
padding: 0;
margin: 0;
}


body{
background:linear-gradient(to right, #402662 ,#8000ff);
}

header{
    display: flex;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 100;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fefefe;
     margin-left: 22px;

}
 .navbar a:hover{
   color: #e7f61d;


}

.logo{
    font-size:  40px;;
    font-weight: 1000;
    text-decoration: none;
    color: #fefefe;

}
.nav_links{
    list-style: none;
    padding: 0 20px;
}
.nav_links li{
    display: inline-block;
}
.nav_links a:active{
    color: chartreuse;
}

.imges{
    
    margin-left: 30px;
    margin-top: 10%;
    justify-content: space-around
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 20px;


}
.imges pre{
    color: #fefefe;
     

}